form{
    background-color: aqua;
    position: absolute;
}
#enter{
    width: 5px;
}
#close{
    display: block;
    float: right;
}
table{
    border: 2px groove gold;
    margin: 0 auto;
    margin-top: 2em;
    width: 70%;
}
button{
    width:90px;
    border: 2px groove black;
    border-radius: 0.2em;
}
td{
    border: 3px groove silver;
    text-align: center;
}
